
/app/config/parameters.yml

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/vendor/*
/vendor

/web/media/*
!/web/media/attachment
/web/media/attachment/*
!/web/media/avator
/web/media/avator/*
!/web/media/avator/1x_avator.png
!/web/media/avator/2x_avator.png
!/web/media/avator/avator.png
!/web/media/wallpaper
!/web/media/wallpaper/*

!/web/bundles
/web/bundles/*

/composer.lock

/.web-server-pid
/build/
/phpunit.xml

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

/.buildpath
/.project
/.settings
/.idea
