parameters:
    locale: ~
    country: ~
    domain: .jobseeker.com
    host: 'http://%country%%domain%'
    database_driver: pdo_mysql
    database_host: db-mysql-1
    database_port: 3306
    database_path: null
    database_name: '%country%jobseeker'
    database_user: developer
    database_password: 7yBmdyG78J
    cookie_domain: '%country%%domain%'
    cookie_expires: 604800
    sso_host: http://sso.jobseeker.com
    sso_client_id: XCwTXzb8tHXeW4iYM8Nu
    sso_client_secret: Q6d5szCHeYgLAgoXwx29
    mailer_transport: smtp
    mailer_host: mail.jobseeker.com
    mailer_source_ip: 162.221.120.21
    mailer_port: 25
    mailer_auth_mode: login
    mailer_username: contact@jobseeker.com
    mailer_password: jackyang689543
    mailer_sender_address: contact@jobseeker.com
    mailer_antiflood_threshold: 80
    mailer_antiflood_sleep: 5
    mailer_logging: '%kernel.debug%'
    use_assetic_controller: true
    per_page: 10
    memcached_prefix: 'memcached_%country%_'
    memcached_cache_prefix: '%memcached_prefix%mysql_'
    session_memcached_host: 127.0.0.1
    session_memcached_port: 11211
    session_memcached_prefix: '%memcached_prefix%session_'
    session_memcached_expire: 86400
    upload_dir: '%kernel.root_dir%/../web/media'
    upload_avator_dir: '%upload_dir%/avator'
    upload_attachment_dir: '%upload_dir%/attachment'
    upload_url: /media
    upload_avator_url: '%upload_url%/avator'
    upload_attachment_url: '%upload_url%/attachment'
    job_expires: 2592000
    secret: bf594eba8bd9b850a368e81f6b178a5ba291da2d