<table align="center" border="0" cellpadding="0" cellspacing="0" width="771">
    <tbody>
        <tr>
            <td style="border-bottom: #ebebeb 1px solid; border-left: #ebebeb 1px solid; border-top: #ebebeb 1px solid; border-right: #ebebeb 1px solid">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="771">
                    <tbody>
                        <tr>
                            <td height="85" width="135">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="20"></td>
                                            <td>
                                                <a href="http://asp1.radicaepost.com/starbucks-mc/tracker/content_path/url_https.3A.2F.2Frewards.2Estarbucks.2Ecom.2Ecn/messageId_13932270/linkUin_15/logEnabled_true/ctEnabled_true/trackerType_2/?sign=6601ca3a8017d4ea481b62946b0cd53b336ace447cbd389b0bbc5041c62f47ca" target="_blank">
                                                    <img src="http://asp1.radicaepost.com/starbucks-hk/templates/images/msr/images/S1A_r1_c1.jpg" style="border-bottom: 0px solid; border-left: 0px solid; border-top: 0px solid; border-right: 0px solid" />
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td valign="bottom">
                                <table align="right" border="0" cellpadding="0" cellspacing="0" width="185">
                                    <tbody>
                                        <tr>
                                            <td align="left" width="52">
                                                <a href="http://asp1.radicaepost.com/starbucks-hk/templates/images/znewcup20131230/cup25.jpg" target="_blank">
                                                    <img src="http://asp1.radicaepost.com/starbucks-hk/templates/images/znewcup20131230/cup25.jpg" style="border-bottom: 0px solid; border-left: 0px solid; margin: 0px; width: 48px; height: 72px; border-top: 0px solid; border-right: 0px solid" />
                                                </a>
                                            </td>
                                            <td align="left">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" style="line-height: 22px; font-family: '微软雅黑'; color: #d9ad80; font-size: 15px; text-decoration: none">您的星星数33颗</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="line-height: 22px; font-family: '微软雅黑'; color: #d9ad80; font-size: 15px; text-decoration: none">金星级</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="text-align: right">
                                                                                <a href="http://asp1.radicaepost.com/starbucks-mc/tracker/content_path/url_https.3A.2F.2Frewards.2Estarbucks.2Ecom.2Ecn.2Fsignin.2Easpx/messageId_13932270/linkUin_16/logEnabled_true/ctEnabled_true/trackerType_2/?sign=937a5cd02e40b30bef307598a64aeca0b43d559059d0b384cb1f2a2ec28c26c6" style="line-height: 22px; font-family: '微软雅黑'; color: #d9ad80; font-size: 12px; text-decoration: underline" target="_blank">点击查看好礼详情</a>
                                                                            </td>
                                                                            <td align="center" width="15">
                                                                                <a href="http://asp1.radicaepost.com/starbucks-mc/tracker/content_path/url_https.3A.2F.2Frewards.2Estarbucks.2Ecom.2Ecn.2Fsignin.2Easpx/messageId_13932270/linkUin_16/logEnabled_true/ctEnabled_true/trackerType_2/?sign=937a5cd02e40b30bef307598a64aeca0b43d559059d0b384cb1f2a2ec28c26c6" target="_blank">
                                                                                    <img src="http://asp1.radicaepost.com/starbucks-hk/templates/images/msr/images/arrow.jpg" style="border-bottom: 0px solid; border-left: 0px solid; width: 7px; height: 12px; border-top: 0px solid; border-right: 0px solid" />
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2" height="20"></td>
                        </tr>
                        <tr>
                            <td align="right" bgcolor="#d8d7bd" colspan="2" height="1">
                                <img height="1" src="http://asp1.radicaepost.com/starbucks-hk/templates/images/3/20131227-FANS/images/space.gif" style="display: block" width="1" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" colspan="2" height="1">
                                <img height="1" src="http://asp1.radicaepost.com/starbucks-hk/templates/images/3/20131227-FANS/images/space.gif" style="display: block" width="1"></td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="20">
                                <img height="226" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r1_c1_r1_c1.jpg" width="769" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="20">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="769">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="http://asp1.radicaepost.com/starbucks-mc/tracker/content_path/url_http.3A.2F.2Fwww.2Estarbucks.2Ecom.2Ecn.2FFizzioTreasureMap.2Fbeijing.2Ehtml/messageId_13932270/linkUin_5/logEnabled_true/ctEnabled_true/trackerType_2/?sign=686c4ac7b54c928b3e4a0e7f5e948f8b9498c09ddc11783a90ee51ebd837bcc8" target="_blank">
                                                    <img border="0" height="41" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r1_c1_r2_c1.jpg" width="89" />
                                                </a>
                                            </td>
                                            <td>
                                                <a href="http://asp1.radicaepost.com/starbucks-mc/tracker/content_path/url_http.3A.2F.2Fwww.2Estarbucks.2Ecom.2Ecn.2FFizzioTreasureMap.2Fshanghai.2Ehtml/messageId_13932270/linkUin_7/logEnabled_true/ctEnabled_true/trackerType_2/?sign=c10c45678282c0bc7857174b34660f18b977d9f24d03ed5b513a728d67326335" target="_blank">
                                                    <img border="0" height="41" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r1_c1_r2_c2.jpg" width="80" />
                                                </a>
                                            </td>
                                            <td>
                                                <a href="http://asp1.radicaepost.com/starbucks-mc/tracker/content_path/url_http.3A.2F.2Fwww.2Estarbucks.2Ecom.2Ecn.2FFizzioTreasureMap.2Fguangzhou.2Ehtml/messageId_13932270/linkUin_6/logEnabled_true/ctEnabled_true/trackerType_2/?sign=3524cc933174fac32df8ce201d4fda70d4b659cfb61023e56421ee0a397c472f" target="_blank">
                                                    <img border="0" height="41" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r1_c1_r2_c3.jpg" width="79" /></a>
                                            </td>
                                            <td>
                                                <img height="41" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r1_c1_r2_c4.jpg" width="521" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="20">
                                <img height="73" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r1_c1_r3_c1.jpg" width="769" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="20">
                                <img src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140820test/f_r2_c1_r1_c1.jpg" style="width: 769px; height: 199px" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="20">
                                <img src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140820test/f_r2_c1_r2_c1.jpg" style="width: 769px; height: 151px" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="20">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="769">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img height="34" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r2_c1_r3_c1.jpg" width="532" />
                                            </td>
                                            <td>
                                                <a href="http://asp1.radicaepost.com/starbucks-mc/tracker/content_path/url_http.3A.2F.2Fwww.2Estarbucks.2Ecom.2Ecn.2Fpromotion.2Ffizzio.2Ehtml/messageId_13932270/linkUin_12/logEnabled_true/ctEnabled_true/trackerType_2/?sign=f00e4f7326d4df42b30ec2d21ec27c99e3aa31008bf9836dbdb3e89a1f974a52" target="_blank">
                                                    <img border="0" height="34" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r2_c1_r3_c2.jpg" width="83" />
                                                </a>
                                            </td>
                                            <td>
                                                <img height="34" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r2_c1_r3_c3.jpg" width="154" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="20">
                                <img height="149" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r2_c1_r4_c1.jpg" width="769" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="20">
                                <img src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140820test/f_r3_c1.jpg" style="width: 769px; height: 385px" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="20">
                                <img height="332" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r4_c1.jpg" width="769" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="20">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="769">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="http://asp1.radicaepost.com/starbucks-mc/tracker/content_path/url_http.3A.2F.2Fwww.2Estarbucks.2Ecom.2Ecn.2Fpromotion.2Ffizzio.2Ehtml/messageId_13932270/linkUin_12/logEnabled_true/ctEnabled_true/trackerType_2/?sign=f00e4f7326d4df42b30ec2d21ec27c99e3aa31008bf9836dbdb3e89a1f974a52" target="_blank">
                                                    <img border="0" height="297" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r5_c1_r1_c1.jpg" width="230" />
                                                </a>
                                            </td>
                                            <td>
                                                <img height="297" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r5_c1_r1_c2.jpg" width="539" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="20">
                                <a href="http://asp1.radicaepost.com/starbucks-mc/tracker/content_path/url_http.3A.2F.2Fwww.2Estarbucks.2Ecom.2Ecn.2Fpromotion.2Ffizzio.2Ehtml/messageId_13932270/linkUin_12/logEnabled_true/ctEnabled_true/trackerType_2/?sign=f00e4f7326d4df42b30ec2d21ec27c99e3aa31008bf9836dbdb3e89a1f974a52" target="_blank">
                                    <img border="0" height="59" src="http://cdn.radicaepost.com/starbucks-mc/templates/images/20140819/images/f_r6_c1.jpg" width="769" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#bebea6" colspan="2" height="1">
                                <img height="1" src="http://asp1.radicaepost.com/starbucks-hk/templates/images/3/20131227-FANS/images/space.gif" style="display: block" width="1" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2" height="48">
                                <span style="font-family: '微软雅黑'; color: #000; font-size: 14px; text-decoration: none">为确保您能顺利收到我们的邮件，请将<a href="mailto:Starbucks@e.starbucks.com.cn" style="line-height: 30px; font-family: '微软雅黑'; color: #afaa8c; font-size: 14px; text-decoration: underline" target="_blank">Starbucks@e.starbucks.com.cn</a>添加到您的通讯薄中。</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>